/*****************************
  BASE SETUP
*****************************/

html {
  box-sizing: border-box; /* use IE box model */
}

*, *:before, *:after {
  box-sizing: inherit; /* inherit allows for easy creation of a new box model context further down the tree */
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; /* smoother rendering of fonts */
}